/* Header.css */

.dark-navbar {
  background-color:#5E4B8D; /* Dark background for navbar */
}

.brand {
  color: white; /* White text for brand */
  margin-left: 5px; /*
}

.nav-link {
  color: white; /* White text for nav links */
  margin: 0 10px; /* Spacing between links */
  text-decoration: none; /* Remove underline from links */
}

.nav-link:hover {
  text-decoration: underline; /* Underline on hover */
}

.sign-in-button {
  background-color: #5E4B8D; /* Custom background color for button */
  border: none; /* Remove border */
  color: white; /* White text for button */
  margin-right: 10px; /* Add right margin */
}

.sign-in-button:hover {
  background-color: #4a3f6c; /* Darker shade on hover for button */
}

/* Ensure all navbar elements are white */
.navbar, .navbar-brand, .nav-link, .sign-in-button {
  color: white !important; /* Force white text color */
}
